@import './styles/hi-control-theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--hc-bg);
  color: var(--hc-text);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
